<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.mes.qc.QcOrderLineMapper">

    <resultMap type="com.ruoyi.system.domain.mes.qc.QcOrderLine" id="QcOrderLineResult">
        <result property="lineId"         column="line_id"         />
        <result property="factoryId"      column="factory_id"      />
        <result property="qcType"         column="qc_type"         />
        <result property="qcId"           column="qc_id"           />
        <result property="indexId"        column="index_id"        />
        <result property="indexCode"      column="index_code"      />
        <result property="indexName"      column="index_name"      />
        <result property="indexType"      column="index_type"      />
        <result property="qcTool"         column="qc_tool"         />
        <result property="qcResultType"   column="qc_result_type"  />
        <result property="checkMethod"    column="check_method"    />
        <result property="standerVal"     column="stander_val"     />
        <result property="unitOfMeasure"  column="unit_of_measure" />
        <result property="thresholdMin"   column="threshold_min"   />
        <result property="thresholdMax"   column="threshold_max"   />
        <result property="checkValText"   column="check_val_text"  />
        <result property="crQuantity"     column="cr_quantity"     />
        <result property="majQuantity"    column="maj_quantity"    />
        <result property="minQuantity"    column="min_quantity"    />
        <result property="lineResult"     column="line_result"     />
        <result property="orderNum"       column="order_num"       />
        <result property="remark"         column="remark"          />
        <result property="createBy"       column="create_by"       />
        <result property="createTime"     column="create_time"     />
        <result property="updateBy"       column="update_by"       />
        <result property="updateTime"     column="update_time"     />
    </resultMap>

    <sql id="selectQcOrderLineVo">
        select line_id, factory_id, qc_type, qc_id, index_id, index_code, index_name, index_type,
               qc_tool, qc_result_type, check_method, stander_val, unit_of_measure,
               threshold_min, threshold_max, check_val_text, cr_quantity, maj_quantity, min_quantity,
               line_result, order_num, remark, create_by, create_time, update_by, update_time
        from qxx_qc_order_line
    </sql>

    <select id="selectByOrder" resultMap="QcOrderLineResult">
        <include refid="selectQcOrderLineVo"/>
        where qc_type = #{qcType} and qc_id = #{qcId}
        order by order_num, line_id
    </select>

    <insert id="batchInsert">
        insert into qxx_qc_order_line
            (qc_type, qc_id, index_id, index_code, index_name, index_type, qc_tool, qc_result_type,
             check_method, stander_val, unit_of_measure, threshold_min, threshold_max, check_val_text,
             cr_quantity, maj_quantity, min_quantity, line_result, order_num, remark, create_by, create_time)
        values
        <foreach item="item" collection="lines" separator=",">
            (#{item.qcType}, #{item.qcId}, #{item.indexId}, #{item.indexCode}, #{item.indexName},
             #{item.indexType}, #{item.qcTool}, #{item.qcResultType}, #{item.checkMethod},
             #{item.standerVal}, #{item.unitOfMeasure}, #{item.thresholdMin}, #{item.thresholdMax},
             #{item.checkValText}, #{item.crQuantity}, #{item.majQuantity}, #{item.minQuantity},
             #{item.lineResult}, #{item.orderNum}, #{item.remark}, #{item.createBy}, #{item.createTime})
        </foreach>
    </insert>

    <delete id="deleteByOrder">
        delete from qxx_qc_order_line where qc_type = #{qcType} and qc_id = #{qcId}
    </delete>
</mapper>
