<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.mes.pro.ProCardProcessMapper">

    <resultMap type="ProCardProcess" id="ProCardProcessResult">
        <result property="recordId"    column="record_id"    />
        <result property="factoryId"    column="factory_id"    />
        <result property="cardId"    column="card_id"    />
        <result property="cardCode"    column="card_code"    />
        <result property="seqNum"    column="seq_num"    />
        <result property="processId"    column="process_id"    />
        <result property="processCode"    column="process_code"    />
        <result property="processName"    column="process_name"    />
        <result property="processType"    column="process_type"    />
        <result property="taskId"    column="task_id"    />
        <result property="taskCode"    column="task_code"    />
        <result property="inputTime"    column="input_time"    />
        <result property="outputTime"    column="output_time"    />
        <result property="quantityInput"    column="quantity_input"    />
        <result property="quantityOutput"    column="quantity_output"    />
        <result property="quantityUnqualified"    column="quantity_unqualified"    />
        <result property="workstationId"    column="workstation_id"    />
        <result property="workstationCode"    column="workstation_code"    />
        <result property="workstationName"    column="workstation_name"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="nickName"    column="nick_name"    />
        <result property="vendorId"    column="vendor_id"    />
        <result property="vendorCode"    column="vendor_code"    />
        <result property="vendorName"    column="vendor_name"    />
        <result property="outsourceFactoryId"    column="outsource_factory_id"    />
        <result property="ipqcId"    column="ipqc_id"    />
        <result property="ipqcCode"    column="ipqc_code"    />
        <result property="feedbackId"    column="feedback_id"    />
        <result property="issueDetailId"    column="issue_detail_id"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectProCardProcessVo">
        select record_id, factory_id, card_id, card_code, seq_num, process_id, process_code, process_name, process_type, task_id, task_code, input_time, output_time, quantity_input, quantity_output, quantity_unqualified, workstation_id, workstation_code, workstation_name, user_id, user_name, nick_name, vendor_id, vendor_code, vendor_name, outsource_factory_id, ipqc_id, ipqc_code, feedback_id, issue_detail_id, remark, create_by, create_time, update_by, update_time from qxx_pro_card_process
    </sql>

    <select id="selectProCardProcessList" parameterType="ProCardProcess" resultMap="ProCardProcessResult">
        <include refid="selectProCardProcessVo"/>
        <where>
            <if test="cardId != null"> and card_id = #{cardId}</if>
            <if test="processId != null"> and process_id = #{processId}</if>
        </where>
        order by record_id desc
    </select>

    <select id="selectProCardProcessByRecordId" parameterType="Long" resultMap="ProCardProcessResult">
        <include refid="selectProCardProcessVo"/>
        where record_id = #{recordId}
    </select>

    <insert id="insertProCardProcess" parameterType="ProCardProcess" useGeneratedKeys="true" keyProperty="recordId">
        insert into qxx_pro_card_process
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cardId != null">card_id,</if>
            <if test="cardCode != null and cardCode != ''">card_code,</if>
            <if test="seqNum != null">seq_num,</if>
            <if test="processId != null">process_id,</if>
            <if test="processCode != null and processCode != ''">process_code,</if>
            <if test="processName != null and processName != ''">process_name,</if>
            <if test="processType != null and processType != ''">process_type,</if>
            <if test="taskId != null">task_id,</if>
            <if test="taskCode != null and taskCode != ''">task_code,</if>
            <if test="inputTime != null">input_time,</if>
            <if test="outputTime != null">output_time,</if>
            <if test="quantityInput != null">quantity_input,</if>
            <if test="quantityOutput != null">quantity_output,</if>
            <if test="quantityUnqualified != null">quantity_unqualified,</if>
            <if test="workstationId != null">workstation_id,</if>
            <if test="workstationCode != null and workstationCode != ''">workstation_code,</if>
            <if test="workstationName != null and workstationName != ''">workstation_name,</if>
            <if test="userId != null">user_id,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="nickName != null and nickName != ''">nick_name,</if>
            <if test="vendorId != null">vendor_id,</if>
            <if test="vendorCode != null and vendorCode != ''">vendor_code,</if>
            <if test="vendorName != null and vendorName != ''">vendor_name,</if>
            <if test="outsourceFactoryId != null">outsource_factory_id,</if>
            <if test="ipqcId != null">ipqc_id,</if>
            <if test="ipqcCode != null and ipqcCode != ''">ipqc_code,</if>
            <if test="feedbackId != null">feedback_id,</if>
            <if test="issueDetailId != null">issue_detail_id,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cardId != null">#{cardId},</if>
            <if test="cardCode != null and cardCode != ''">#{cardCode},</if>
            <if test="seqNum != null">#{seqNum},</if>
            <if test="processId != null">#{processId},</if>
            <if test="processCode != null and processCode != ''">#{processCode},</if>
            <if test="processName != null and processName != ''">#{processName},</if>
            <if test="processType != null and processType != ''">#{processType},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="taskCode != null and taskCode != ''">#{taskCode},</if>
            <if test="inputTime != null">#{inputTime},</if>
            <if test="outputTime != null">#{outputTime},</if>
            <if test="quantityInput != null">#{quantityInput},</if>
            <if test="quantityOutput != null">#{quantityOutput},</if>
            <if test="quantityUnqualified != null">#{quantityUnqualified},</if>
            <if test="workstationId != null">#{workstationId},</if>
            <if test="workstationCode != null and workstationCode != ''">#{workstationCode},</if>
            <if test="workstationName != null and workstationName != ''">#{workstationName},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="nickName != null and nickName != ''">#{nickName},</if>
            <if test="vendorId != null">#{vendorId},</if>
            <if test="vendorCode != null and vendorCode != ''">#{vendorCode},</if>
            <if test="vendorName != null and vendorName != ''">#{vendorName},</if>
            <if test="outsourceFactoryId != null">#{outsourceFactoryId},</if>
            <if test="ipqcId != null">#{ipqcId},</if>
            <if test="ipqcCode != null and ipqcCode != ''">#{ipqcCode},</if>
            <if test="feedbackId != null">#{feedbackId},</if>
            <if test="issueDetailId != null">#{issueDetailId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateProCardProcess" parameterType="ProCardProcess">
        update qxx_pro_card_process
        <trim prefix="SET" suffixOverrides=",">
            <if test="cardId != null">card_id = #{cardId},</if>
            <if test="cardCode != null and cardCode != ''">card_code = #{cardCode},</if>
            <if test="seqNum != null">seq_num = #{seqNum},</if>
            <if test="processId != null">process_id = #{processId},</if>
            <if test="processCode != null and processCode != ''">process_code = #{processCode},</if>
            <if test="processName != null and processName != ''">process_name = #{processName},</if>
            <if test="processType != null and processType != ''">process_type = #{processType},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="taskCode != null and taskCode != ''">task_code = #{taskCode},</if>
            <if test="inputTime != null">input_time = #{inputTime},</if>
            <if test="outputTime != null">output_time = #{outputTime},</if>
            <if test="quantityInput != null">quantity_input = #{quantityInput},</if>
            <if test="quantityOutput != null">quantity_output = #{quantityOutput},</if>
            <if test="quantityUnqualified != null">quantity_unqualified = #{quantityUnqualified},</if>
            <if test="workstationId != null">workstation_id = #{workstationId},</if>
            <if test="workstationCode != null and workstationCode != ''">workstation_code = #{workstationCode},</if>
            <if test="workstationName != null and workstationName != ''">workstation_name = #{workstationName},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="nickName != null and nickName != ''">nick_name = #{nickName},</if>
            <if test="vendorId != null">vendor_id = #{vendorId},</if>
            <if test="vendorCode != null and vendorCode != ''">vendor_code = #{vendorCode},</if>
            <if test="vendorName != null and vendorName != ''">vendor_name = #{vendorName},</if>
            <if test="outsourceFactoryId != null">outsource_factory_id = #{outsourceFactoryId},</if>
            <if test="ipqcId != null">ipqc_id = #{ipqcId},</if>
            <if test="ipqcCode != null and ipqcCode != ''">ipqc_code = #{ipqcCode},</if>
            <if test="feedbackId != null">feedback_id = #{feedbackId},</if>
            <if test="issueDetailId != null">issue_detail_id = #{issueDetailId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where record_id = #{recordId}
    </update>

    <delete id="deleteProCardProcessByRecordId" parameterType="Long">
        delete from qxx_pro_card_process where record_id = #{recordId}
    </delete>

    <delete id="deleteProCardProcessByRecordIds">
        delete from qxx_pro_card_process where record_id in
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>
</mapper>
