<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.mes.pro.ProParamTemplateMapper">

    <resultMap type="ProParamTemplate" id="ProParamTemplateResult">
        <result property="templateId"    column="template_id"    />
        <result property="factoryId"    column="factory_id"    />
        <result property="processId"    column="process_id"    />
        <result property="paramCode"    column="param_code"    />
        <result property="paramName"    column="param_name"    />
        <result property="paramGroup"    column="param_group"    />
        <result property="paramType"    column="param_type"    />
        <result property="unit"    column="unit"    />
        <result property="enumValues"    column="enum_values"    />
        <result property="defaultValue"    column="default_value"    />
        <result property="minValue"    column="min_value"    />
        <result property="maxValue"    column="max_value"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="isRequired"    column="is_required"    />
        <result property="isReportVisible"    column="is_report_visible"    />
        <result property="enableFlag"    column="enable_flag"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectProParamTemplateVo">
        select template_id, factory_id, process_id, param_code, param_name, param_group, param_type, unit, enum_values, default_value, min_value, max_value, sort_order, is_required, is_report_visible, enable_flag, remark, create_by, create_time, update_by, update_time from qxx_pro_param_template
    </sql>

    <select id="selectProParamTemplateList" parameterType="ProParamTemplate" resultMap="ProParamTemplateResult">
        <include refid="selectProParamTemplateVo"/>
        <where>
            <if test="processId != null "> and process_id = #{processId}</if>
            <if test="paramCode != null  and paramCode != ''"> and param_code = #{paramCode}</if>
            <if test="paramName != null  and paramName != ''"> and param_name like concat('%', #{paramName}, '%')</if>
            <if test="paramGroup != null  and paramGroup != ''"> and param_group = #{paramGroup}</if>
            <if test="paramType != null  and paramType != ''"> and param_type = #{paramType}</if>
            <if test="enableFlag != null  and enableFlag != ''"> and enable_flag = #{enableFlag}</if>
        </where>
        order by process_id, sort_order asc
    </select>

    <select id="selectProParamTemplateByTemplateId" parameterType="Long" resultMap="ProParamTemplateResult">
        <include refid="selectProParamTemplateVo"/>
        where template_id = #{templateId}
    </select>

    <select id="selectProParamTemplateByProcessId" parameterType="Long" resultMap="ProParamTemplateResult">
        <include refid="selectProParamTemplateVo"/>
        where process_id = #{processId}
        order by sort_order asc
    </select>

    <insert id="insertProParamTemplate" parameterType="ProParamTemplate" useGeneratedKeys="true" keyProperty="templateId">
        insert into qxx_pro_param_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="processId != null">process_id,</if>
            <if test="paramCode != null and paramCode != ''">param_code,</if>
            <if test="paramName != null and paramName != ''">param_name,</if>
            <if test="paramGroup != null and paramGroup != ''">param_group,</if>
            <if test="paramType != null and paramType != ''">param_type,</if>
            <if test="unit != null">unit,</if>
            <if test="enumValues != null">enum_values,</if>
            <if test="defaultValue != null">default_value,</if>
            <if test="minValue != null">min_value,</if>
            <if test="maxValue != null">max_value,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="isRequired != null">is_required,</if>
            <if test="isReportVisible != null">is_report_visible,</if>
            <if test="enableFlag != null">enable_flag,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="processId != null">#{processId},</if>
            <if test="paramCode != null and paramCode != ''">#{paramCode},</if>
            <if test="paramName != null and paramName != ''">#{paramName},</if>
            <if test="paramGroup != null and paramGroup != ''">#{paramGroup},</if>
            <if test="paramType != null and paramType != ''">#{paramType},</if>
            <if test="unit != null">#{unit},</if>
            <if test="enumValues != null">#{enumValues},</if>
            <if test="defaultValue != null">#{defaultValue},</if>
            <if test="minValue != null">#{minValue},</if>
            <if test="maxValue != null">#{maxValue},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="isRequired != null">#{isRequired},</if>
            <if test="isReportVisible != null">#{isReportVisible},</if>
            <if test="enableFlag != null">#{enableFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateProParamTemplate" parameterType="ProParamTemplate">
        update qxx_pro_param_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="processId != null">process_id = #{processId},</if>
            <if test="paramCode != null and paramCode != ''">param_code = #{paramCode},</if>
            <if test="paramName != null and paramName != ''">param_name = #{paramName},</if>
            <if test="paramGroup != null and paramGroup != ''">param_group = #{paramGroup},</if>
            <if test="paramType != null and paramType != ''">param_type = #{paramType},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="enumValues != null">enum_values = #{enumValues},</if>
            <if test="defaultValue != null">default_value = #{defaultValue},</if>
            <if test="minValue != null">min_value = #{minValue},</if>
            <if test="maxValue != null">max_value = #{maxValue},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="isRequired != null">is_required = #{isRequired},</if>
            <if test="isReportVisible != null">is_report_visible = #{isReportVisible},</if>
            <if test="enableFlag != null">enable_flag = #{enableFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where template_id = #{templateId}
    </update>

    <delete id="deleteProParamTemplateByTemplateId" parameterType="Long">
        delete from qxx_pro_param_template where template_id = #{templateId}
    </delete>

    <delete id="deleteProParamTemplateByTemplateIds">
        delete from qxx_pro_param_template where template_id in
        <foreach item="templateId" collection="array" open="(" separator="," close=")">
            #{templateId}
        </foreach>
    </delete>

    <delete id="deleteProParamTemplateByProcessId" parameterType="Long">
        delete from qxx_pro_param_template where process_id = #{processId}
    </delete>
</mapper>
