<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.mes.pro.ProRouteProductBomMapper">

    <resultMap type="ProRouteProductBom" id="ProRouteProductBomResult">
        <result property="recordId"    column="record_id"    />
        <result property="factoryId"    column="factory_id"    />
        <result property="routeId"    column="route_id"    />
        <result property="processId"    column="process_id"    />
        <result property="productId"    column="product_id"    />
        <result property="itemId"    column="item_id"    />
        <result property="itemCode"    column="item_code"    />
        <result property="itemName"    column="item_name"    />
        <result property="specification"    column="specification"    />
        <result property="unitOfMeasure"    column="unit_of_measure"    />
        <result property="unitName"    column="unit_name"    />
        <result property="quantity"    column="quantity"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectProRouteProductBomVo">
        select record_id, factory_id, route_id, process_id, product_id, item_id, item_code, item_name, specification, unit_of_measure, unit_name, quantity, remark, create_by, create_time, update_by, update_time from qxx_pro_route_product_bom
    </sql>

    <select id="selectProRouteProductBomList" parameterType="ProRouteProductBom" resultMap="ProRouteProductBomResult">
        <include refid="selectProRouteProductBomVo"/>
        <where>
            <if test="routeId != null "> and route_id = #{routeId}</if>
            <if test="processId != null "> and process_id = #{processId}</if>
            <if test="productId != null "> and product_id = #{productId}</if>
        </where>
        order by record_id asc
    </select>

    <select id="selectProRouteProductBomByRecordId" parameterType="Long" resultMap="ProRouteProductBomResult">
        <include refid="selectProRouteProductBomVo"/>
        where record_id = #{recordId}
    </select>

    <select id="selectProRouteProductBomByRouteId" parameterType="Long" resultMap="ProRouteProductBomResult">
        <include refid="selectProRouteProductBomVo"/>
        where route_id = #{routeId}
        order by record_id asc
    </select>

    <select id="selectProRouteProductBomByRouteIdAndProcessId" resultMap="ProRouteProductBomResult">
        <include refid="selectProRouteProductBomVo"/>
        where route_id = #{routeId} and process_id = #{processId}
        order by record_id asc
    </select>

    <insert id="insertProRouteProductBom" parameterType="ProRouteProductBom" useGeneratedKeys="true" keyProperty="recordId">
        insert into qxx_pro_route_product_bom
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="routeId != null">route_id,</if>
            <if test="processId != null">process_id,</if>
            <if test="productId != null">product_id,</if>
            <if test="itemId != null">item_id,</if>
            <if test="itemCode != null and itemCode != ''">item_code,</if>
            <if test="itemName != null and itemName != ''">item_name,</if>
            <if test="specification != null">specification,</if>
            <if test="unitOfMeasure != null">unit_of_measure,</if>
            <if test="unitName != null">unit_name,</if>
            <if test="quantity != null">quantity,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="routeId != null">#{routeId},</if>
            <if test="processId != null">#{processId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="itemId != null">#{itemId},</if>
            <if test="itemCode != null and itemCode != ''">#{itemCode},</if>
            <if test="itemName != null and itemName != ''">#{itemName},</if>
            <if test="specification != null">#{specification},</if>
            <if test="unitOfMeasure != null">#{unitOfMeasure},</if>
            <if test="unitName != null">#{unitName},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateProRouteProductBom" parameterType="ProRouteProductBom">
        update qxx_pro_route_product_bom
        <trim prefix="SET" suffixOverrides=",">
            <if test="routeId != null">route_id = #{routeId},</if>
            <if test="processId != null">process_id = #{processId},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="itemId != null">item_id = #{itemId},</if>
            <if test="itemCode != null and itemCode != ''">item_code = #{itemCode},</if>
            <if test="itemName != null and itemName != ''">item_name = #{itemName},</if>
            <if test="specification != null">specification = #{specification},</if>
            <if test="unitOfMeasure != null">unit_of_measure = #{unitOfMeasure},</if>
            <if test="unitName != null">unit_name = #{unitName},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where record_id = #{recordId}
    </update>

    <delete id="deleteProRouteProductBomByRecordId" parameterType="Long">
        delete from qxx_pro_route_product_bom where record_id = #{recordId}
    </delete>

    <delete id="deleteProRouteProductBomByRecordIds">
        delete from qxx_pro_route_product_bom where record_id in
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>

    <delete id="deleteProRouteProductBomByRouteId" parameterType="Long">
        delete from qxx_pro_route_product_bom where route_id = #{routeId}
    </delete>
</mapper>
