<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.mes.md.MdItemMapper">

    <resultMap type="com.ruoyi.system.domain.mes.md.MdItem" id="MdItemResult">
        <result property="itemId"          column="item_id"          />
        <result property="factoryId"       column="factory_id"       />
        <result property="itemCode"        column="item_code"        />
        <result property="itemName"        column="item_name"        />
        <result property="specification"   column="specification"    />
        <result property="unitOfMeasure"   column="unit_of_measure"  />
        <result property="unitName"        column="unit_name"        />
        <result property="unit2"           column="unit2"            />
        <result property="unit2Name"       column="unit2_name"       />
        <result property="conversionRate"  column="conversion_rate"  />
        <result property="itemTypeId"      column="item_type_id"     />
        <result property="itemTypeCode"    column="item_type_code"   />
        <result property="itemTypeName"    column="item_type_name"   />
        <result property="parentId"        column="parent_id"        />
        <result property="productSize"     column="product_size"     />
        <result property="packageSpec"     column="package_spec"     />
        <result property="printingReq"     column="printing_req"     />
        <result property="enableFlag"      column="enable_flag"      />
        <result property="safeStockFlag"   column="safe_stock_flag"  />
        <result property="minStock"        column="min_stock"        />
        <result property="maxStock"        column="max_stock"        />
        <result property="alertStock"      column="alert_stock"      />
        <result property="highValue"       column="high_value"       />
        <result property="batchFlag"       column="batch_flag"       />
        <result property="remark"          column="remark"           />
        <result property="createBy"        column="create_by"        />
        <result property="createTime"      column="create_time"      />
        <result property="updateBy"        column="update_by"        />
        <result property="updateTime"      column="update_time"      />
    </resultMap>

    <sql id="selectMdItemVo">
        select item_id, factory_id, item_code, item_name, specification, unit_of_measure,
               unit_name, unit2, unit2_name, conversion_rate, item_type_id, item_type_code,
               item_type_name, parent_id, product_size, package_spec, printing_req,
               enable_flag, safe_stock_flag, min_stock, max_stock, alert_stock,
               high_value, batch_flag, remark, create_by, create_time, update_by, update_time
        from qxx_md_item
    </sql>

    <select id="selectMdItemList" parameterType="com.ruoyi.system.domain.mes.md.MdItem" resultMap="MdItemResult">
        <include refid="selectMdItemVo"/>
        <where>
            <if test="itemCode != null and itemCode != ''"> and item_code like concat('%', #{itemCode}, '%')</if>
            <if test="itemName != null and itemName != ''"> and item_name like concat('%', #{itemName}, '%')</if>
            <if test="itemTypeId != null and itemTypeId != 0"> and item_type_id = #{itemTypeId}</if>
            <if test="specification != null and specification != ''"> and specification like concat('%', #{specification}, '%')</if>
            <if test="enableFlag != null and enableFlag != ''"> and enable_flag = #{enableFlag}</if>
        </where>
    </select>

    <select id="selectMdItemById" parameterType="Long" resultMap="MdItemResult">
        <include refid="selectMdItemVo"/>
        where item_id = #{itemId}
    </select>

    <select id="checkItemCodeUnique" parameterType="com.ruoyi.system.domain.mes.md.MdItem" resultMap="MdItemResult">
        <include refid="selectMdItemVo"/>
        where item_code = #{itemCode} limit 1
    </select>

    <insert id="insertMdItem" parameterType="com.ruoyi.system.domain.mes.md.MdItem" useGeneratedKeys="true" keyProperty="itemId">
        insert into qxx_md_item
        <trim prefix="(" suffix=")" suffixOverrides=",">            <if test="itemCode != null and itemCode != ''">item_code,</if>
            <if test="itemName != null and itemName != ''">item_name,</if>
            <if test="specification != null">specification,</if>
            <if test="unitOfMeasure != null and unitOfMeasure != ''">unit_of_measure,</if>
            <if test="unitName != null and unitName != ''">unit_name,</if>
            <if test="unit2 != null">unit2,</if>
            <if test="unit2Name != null">unit2_name,</if>
            <if test="conversionRate != null">conversion_rate,</if>
            <if test="itemTypeId != null">item_type_id,</if>
            <if test="itemTypeCode != null">item_type_code,</if>
            <if test="itemTypeName != null">item_type_name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="productSize != null">product_size,</if>
            <if test="packageSpec != null">package_spec,</if>
            <if test="printingReq != null">printing_req,</if>
            <if test="enableFlag != null and enableFlag != ''">enable_flag,</if>
            <if test="safeStockFlag != null">safe_stock_flag,</if>
            <if test="minStock != null">min_stock,</if>
            <if test="maxStock != null">max_stock,</if>
            <if test="alertStock != null">alert_stock,</if>
            <if test="highValue != null">high_value,</if>
            <if test="batchFlag != null">batch_flag,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">            <if test="itemCode != null and itemCode != ''">#{itemCode},</if>
            <if test="itemName != null and itemName != ''">#{itemName},</if>
            <if test="specification != null">#{specification},</if>
            <if test="unitOfMeasure != null and unitOfMeasure != ''">#{unitOfMeasure},</if>
            <if test="unitName != null and unitName != ''">#{unitName},</if>
            <if test="unit2 != null">#{unit2},</if>
            <if test="unit2Name != null">#{unit2Name},</if>
            <if test="conversionRate != null">#{conversionRate},</if>
            <if test="itemTypeId != null">#{itemTypeId},</if>
            <if test="itemTypeCode != null">#{itemTypeCode},</if>
            <if test="itemTypeName != null">#{itemTypeName},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="productSize != null">#{productSize},</if>
            <if test="packageSpec != null">#{packageSpec},</if>
            <if test="printingReq != null">#{printingReq},</if>
            <if test="enableFlag != null and enableFlag != ''">#{enableFlag},</if>
            <if test="safeStockFlag != null">#{safeStockFlag},</if>
            <if test="minStock != null">#{minStock},</if>
            <if test="maxStock != null">#{maxStock},</if>
            <if test="alertStock != null">#{alertStock},</if>
            <if test="highValue != null">#{highValue},</if>
            <if test="batchFlag != null">#{batchFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateMdItem" parameterType="com.ruoyi.system.domain.mes.md.MdItem">
        update qxx_md_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="itemCode != null and itemCode != ''">item_code = #{itemCode},</if>
            <if test="itemName != null and itemName != ''">item_name = #{itemName},</if>
            <if test="specification != null">specification = #{specification},</if>
            <if test="unitOfMeasure != null and unitOfMeasure != ''">unit_of_measure = #{unitOfMeasure},</if>
            <if test="unitName != null and unitName != ''">unit_name = #{unitName},</if>
            <if test="unit2 != null">unit2 = #{unit2},</if>
            <if test="unit2Name != null">unit2_name = #{unit2Name},</if>
            <if test="conversionRate != null">conversion_rate = #{conversionRate},</if>
            <if test="itemTypeId != null">item_type_id = #{itemTypeId},</if>
            <if test="itemTypeCode != null">item_type_code = #{itemTypeCode},</if>
            <if test="itemTypeName != null">item_type_name = #{itemTypeName},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="productSize != null">product_size = #{productSize},</if>
            <if test="packageSpec != null">package_spec = #{packageSpec},</if>
            <if test="printingReq != null">printing_req = #{printingReq},</if>
            <if test="enableFlag != null">enable_flag = #{enableFlag},</if>
            <if test="safeStockFlag != null">safe_stock_flag = #{safeStockFlag},</if>
            <if test="minStock != null">min_stock = #{minStock},</if>
            <if test="maxStock != null">max_stock = #{maxStock},</if>
            <if test="alertStock != null">alert_stock = #{alertStock},</if>
            <if test="highValue != null">high_value = #{highValue},</if>
            <if test="batchFlag != null">batch_flag = #{batchFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where item_id = #{itemId}
    </update>

    <delete id="deleteMdItemById" parameterType="Long">
        delete from qxx_md_item where item_id = #{itemId}
    </delete>

    <delete id="deleteMdItemByIds" parameterType="String">
        delete from qxx_md_item where item_id in
        <foreach item="itemId" collection="array" open="(" separator="," close=")">
            #{itemId}
        </foreach>
    </delete>
</mapper>
