<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.mes.wm.WmProductSalesLineMapper">

    <resultMap type="WmProductSalesLine" id="WmProductSalesLineResult">
        <id property="lineId" column="line_id" />
        <result property="factoryId" column="factory_id" />
        <result property="salesId" column="sales_id" />
        <result property="itemId" column="item_id" />
        <result property="itemCode" column="item_code" />
        <result property="itemName" column="item_name" />
        <result property="specification" column="specification" />
        <result property="unitOfMeasure" column="unit_of_measure" />
        <result property="unitName" column="unit_name" />
        <result property="quantitySales" column="quantity_sales" />
        <result property="quantityBox" column="quantity_box" />
        <result property="boxSpec" column="box_spec" />
        <result property="boxLength" column="box_length" />
        <result property="boxWidth" column="box_width" />
        <result property="boxHeight" column="box_height" />
        <result property="volume" column="volume" />
        <result property="weight" column="weight" />
        <result property="batchId" column="batch_id" />
        <result property="batchCode" column="batch_code" />
        <result property="warehouseId" column="warehouse_id" />
        <result property="locationId" column="location_id" />
        <result property="areaId" column="area_id" />
        <result property="remark" column="remark" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectWmProductSalesLineVo">
        select line_id, factory_id, sales_id, item_id, item_code, item_name, specification, unit_of_measure, unit_name, quantity_sales, quantity_box, box_spec, box_length, box_width, box_height, volume, weight, batch_id, batch_code, warehouse_id, location_id, area_id, remark, create_by, create_time, update_by, update_time from qxx_wm_product_sales_line
    </sql>

    <select id="selectWmProductSalesLineList" parameterType="WmProductSalesLine" resultMap="WmProductSalesLineResult">
        <include refid="selectWmProductSalesLineVo"/>
        <where>
            <if test="factoryId != null"> and factory_id = #{factoryId}</if>
            <if test="salesId != null"> and sales_id = #{salesId}</if>
            <if test="itemId != null"> and item_id = #{itemId}</if>
            <if test="itemCode != null and itemCode != ''"> and item_code like concat('%', #{itemCode}, '%')</if>
            <if test="itemName != null and itemName != ''"> and item_name like concat('%', #{itemName}, '%')</if>
            <if test="specification != null and specification != ''"> and specification like concat('%', #{specification}, '%')</if>
            <if test="unitOfMeasure != null and unitOfMeasure != ''"> and unit_of_measure like concat('%', #{unitOfMeasure}, '%')</if>
            <if test="unitName != null and unitName != ''"> and unit_name like concat('%', #{unitName}, '%')</if>
            <if test="quantityBox != null"> and quantity_box = #{quantityBox}</if>
            <if test="boxSpec != null and boxSpec != ''"> and box_spec like concat('%', #{boxSpec}, '%')</if>
            <if test="batchId != null"> and batch_id = #{batchId}</if>
            <if test="batchCode != null and batchCode != ''"> and batch_code like concat('%', #{batchCode}, '%')</if>
            <if test="warehouseId != null"> and warehouse_id = #{warehouseId}</if>
            <if test="locationId != null"> and location_id = #{locationId}</if>
            <if test="areaId != null"> and area_id = #{areaId}</if>
            <if test="createBy != null and createBy != ''"> and create_by like concat('%', #{createBy}, '%')</if>
            <if test="updateBy != null and updateBy != ''"> and update_by like concat('%', #{updateBy}, '%')</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectWmProductSalesLineAll" resultMap="WmProductSalesLineResult">
        <include refid="selectWmProductSalesLineVo"/>
    </select>

    <select id="selectWmProductSalesLineByLineId" parameterType="Long" resultMap="WmProductSalesLineResult">
        <include refid="selectWmProductSalesLineVo"/>
        where line_id = #{lineId}
    </select>

    <insert id="insertWmProductSalesLine" parameterType="WmProductSalesLine" useGeneratedKeys="true" keyProperty="lineId">
        insert into qxx_wm_product_sales_line
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="factoryId != null">factory_id,</if>
            <if test="salesId != null">sales_id,</if>
            <if test="itemId != null">item_id,</if>
            <if test="itemCode != null">item_code,</if>
            <if test="itemName != null">item_name,</if>
            <if test="specification != null">specification,</if>
            <if test="unitOfMeasure != null">unit_of_measure,</if>
            <if test="unitName != null">unit_name,</if>
            <if test="quantitySales != null">quantity_sales,</if>
            <if test="quantityBox != null">quantity_box,</if>
            <if test="boxSpec != null">box_spec,</if>
            <if test="boxLength != null">box_length,</if>
            <if test="boxWidth != null">box_width,</if>
            <if test="boxHeight != null">box_height,</if>
            <if test="volume != null">volume,</if>
            <if test="weight != null">weight,</if>
            <if test="batchId != null">batch_id,</if>
            <if test="batchCode != null">batch_code,</if>
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="locationId != null">location_id,</if>
            <if test="areaId != null">area_id,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="factoryId != null">#{factoryId},</if>
            <if test="salesId != null">#{salesId},</if>
            <if test="itemId != null">#{itemId},</if>
            <if test="itemCode != null">#{itemCode},</if>
            <if test="itemName != null">#{itemName},</if>
            <if test="specification != null">#{specification},</if>
            <if test="unitOfMeasure != null">#{unitOfMeasure},</if>
            <if test="unitName != null">#{unitName},</if>
            <if test="quantitySales != null">#{quantitySales},</if>
            <if test="quantityBox != null">#{quantityBox},</if>
            <if test="boxSpec != null">#{boxSpec},</if>
            <if test="boxLength != null">#{boxLength},</if>
            <if test="boxWidth != null">#{boxWidth},</if>
            <if test="boxHeight != null">#{boxHeight},</if>
            <if test="volume != null">#{volume},</if>
            <if test="weight != null">#{weight},</if>
            <if test="batchId != null">#{batchId},</if>
            <if test="batchCode != null">#{batchCode},</if>
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="locationId != null">#{locationId},</if>
            <if test="areaId != null">#{areaId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateWmProductSalesLine" parameterType="WmProductSalesLine">
        update qxx_wm_product_sales_line
        <trim prefix="SET" suffixOverrides=",">
            <if test="factoryId != null">factory_id = #{factoryId},</if>
            <if test="salesId != null">sales_id = #{salesId},</if>
            <if test="itemId != null">item_id = #{itemId},</if>
            <if test="itemCode != null">item_code = #{itemCode},</if>
            <if test="itemName != null">item_name = #{itemName},</if>
            <if test="specification != null">specification = #{specification},</if>
            <if test="unitOfMeasure != null">unit_of_measure = #{unitOfMeasure},</if>
            <if test="unitName != null">unit_name = #{unitName},</if>
            <if test="quantitySales != null">quantity_sales = #{quantitySales},</if>
            <if test="quantityBox != null">quantity_box = #{quantityBox},</if>
            <if test="boxSpec != null">box_spec = #{boxSpec},</if>
            <if test="boxLength != null">box_length = #{boxLength},</if>
            <if test="boxWidth != null">box_width = #{boxWidth},</if>
            <if test="boxHeight != null">box_height = #{boxHeight},</if>
            <if test="volume != null">volume = #{volume},</if>
            <if test="weight != null">weight = #{weight},</if>
            <if test="batchId != null">batch_id = #{batchId},</if>
            <if test="batchCode != null">batch_code = #{batchCode},</if>
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="locationId != null">location_id = #{locationId},</if>
            <if test="areaId != null">area_id = #{areaId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where line_id = #{lineId}
    </update>

    <delete id="deleteWmProductSalesLineByLineId" parameterType="Long">
        delete from qxx_wm_product_sales_line where line_id = #{lineId}
    </delete>

    <delete id="deleteWmProductSalesLineByLineIds" parameterType="String">
        delete from qxx_wm_product_sales_line where line_id in
        <foreach item="lineId" collection="array" open="(" separator="," close=")">
            #{lineId}
        </foreach>
    </delete>

</mapper>