<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.mes.wm.WmRtVendorMapper">

    <resultMap type="WmRtVendor" id="WmRtVendorResult">
        <id property="rtId" column="rt_id" />
        <result property="factoryId" column="factory_id" />
        <result property="rtCode" column="rt_code" />
        <result property="rtName" column="rt_name" />
        <result property="recptId" column="recpt_id" />
        <result property="recptCode" column="recpt_code" />
        <result property="vendorId" column="vendor_id" />
        <result property="vendorCode" column="vendor_code" />
        <result property="vendorName" column="vendor_name" />
        <result property="warehouseId" column="warehouse_id" />
        <result property="warehouseCode" column="warehouse_code" />
        <result property="warehouseName" column="warehouse_name" />
        <result property="rtDate" column="rt_date" />
        <result property="totalQuantity" column="total_quantity" />
        <result property="rqcId" column="rqc_id" />
        <result property="rqcCode" column="rqc_code" />
        <result property="status" column="status" />
        <result property="purOrderId" column="pur_order_id" />
        <result property="purOrderCode" column="pur_order_code" />
        <result property="confirmTime" column="confirm_time" />
        <result property="confirmBy" column="confirm_by" />
        <result property="postTime" column="post_time" />
        <result property="postBy" column="post_by" />
        <result property="remark" column="remark" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectWmRtVendorVo">
        select rt_id, factory_id, rt_code, rt_name, recpt_id, recpt_code, vendor_id, vendor_code, vendor_name, warehouse_id, warehouse_code, warehouse_name, rt_date, total_quantity, rqc_id, rqc_code, status, pur_order_id, pur_order_code, confirm_time, confirm_by, post_time, post_by, remark, create_by, create_time, update_by, update_time from qxx_wm_rt_vendor
    </sql>

    <select id="selectWmRtVendorList" parameterType="WmRtVendor" resultMap="WmRtVendorResult">
        <include refid="selectWmRtVendorVo"/>
        <where>            <if test="rtCode != null and rtCode != ''"> and rt_code like concat('%', #{rtCode}, '%')</if>
            <if test="rtName != null and rtName != ''"> and rt_name like concat('%', #{rtName}, '%')</if>
            <if test="recptId != null"> and recpt_id = #{recptId}</if>
            <if test="recptCode != null and recptCode != ''"> and recpt_code like concat('%', #{recptCode}, '%')</if>
            <if test="vendorId != null"> and vendor_id = #{vendorId}</if>
            <if test="vendorCode != null and vendorCode != ''"> and vendor_code like concat('%', #{vendorCode}, '%')</if>
            <if test="vendorName != null and vendorName != ''"> and vendor_name like concat('%', #{vendorName}, '%')</if>
            <if test="warehouseId != null"> and warehouse_id = #{warehouseId}</if>
            <if test="warehouseCode != null and warehouseCode != ''"> and warehouse_code like concat('%', #{warehouseCode}, '%')</if>
            <if test="warehouseName != null and warehouseName != ''"> and warehouse_name like concat('%', #{warehouseName}, '%')</if>
            <if test="rqcId != null"> and rqc_id = #{rqcId}</if>
            <if test="rqcCode != null and rqcCode != ''"> and rqc_code like concat('%', #{rqcCode}, '%')</if>
            <if test="status != null and status != ''"> and status like concat('%', #{status}, '%')</if>
            <if test="createBy != null and createBy != ''"> and create_by like concat('%', #{createBy}, '%')</if>
            <if test="updateBy != null and updateBy != ''"> and update_by like concat('%', #{updateBy}, '%')</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectWmRtVendorAll" resultMap="WmRtVendorResult">
        <include refid="selectWmRtVendorVo"/>
    </select>

    <select id="selectWmRtVendorByRtId" parameterType="Long" resultMap="WmRtVendorResult">
        <include refid="selectWmRtVendorVo"/>
        where rt_id = #{rtId}
    </select>

    <insert id="insertWmRtVendor" parameterType="WmRtVendor" useGeneratedKeys="true" keyProperty="rtId">
        insert into qxx_wm_rt_vendor
        <trim prefix="(" suffix=")" suffixOverrides=",">            <if test="rtCode != null">rt_code,</if>
            <if test="rtName != null">rt_name,</if>
            <if test="recptId != null">recpt_id,</if>
            <if test="recptCode != null">recpt_code,</if>
            <if test="vendorId != null">vendor_id,</if>
            <if test="vendorCode != null">vendor_code,</if>
            <if test="vendorName != null">vendor_name,</if>
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="warehouseCode != null">warehouse_code,</if>
            <if test="warehouseName != null">warehouse_name,</if>
            <if test="rtDate != null">rt_date,</if>
            <if test="totalQuantity != null">total_quantity,</if>
            <if test="rqcId != null">rqc_id,</if>
            <if test="rqcCode != null">rqc_code,</if>
            <if test="status != null">status,</if>
            <if test="purOrderId != null">pur_order_id,</if>
            <if test="purOrderCode != null">pur_order_code,</if>
            <if test="confirmTime != null">confirm_time,</if>
            <if test="confirmBy != null">confirm_by,</if>
            <if test="postTime != null">post_time,</if>
            <if test="postBy != null">post_by,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">            <if test="rtCode != null">#{rtCode},</if>
            <if test="rtName != null">#{rtName},</if>
            <if test="recptId != null">#{recptId},</if>
            <if test="recptCode != null">#{recptCode},</if>
            <if test="vendorId != null">#{vendorId},</if>
            <if test="vendorCode != null">#{vendorCode},</if>
            <if test="vendorName != null">#{vendorName},</if>
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="warehouseCode != null">#{warehouseCode},</if>
            <if test="warehouseName != null">#{warehouseName},</if>
            <if test="rtDate != null">#{rtDate},</if>
            <if test="totalQuantity != null">#{totalQuantity},</if>
            <if test="rqcId != null">#{rqcId},</if>
            <if test="rqcCode != null">#{rqcCode},</if>
            <if test="status != null">#{status},</if>
            <if test="purOrderId != null">#{purOrderId},</if>
            <if test="purOrderCode != null">#{purOrderCode},</if>
            <if test="confirmTime != null">#{confirmTime},</if>
            <if test="confirmBy != null">#{confirmBy},</if>
            <if test="postTime != null">#{postTime},</if>
            <if test="postBy != null">#{postBy},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateWmRtVendor" parameterType="WmRtVendor">
        update qxx_wm_rt_vendor
        <trim prefix="SET" suffixOverrides=",">            <if test="rtCode != null">rt_code = #{rtCode},</if>
            <if test="rtName != null">rt_name = #{rtName},</if>
            <if test="recptId != null">recpt_id = #{recptId},</if>
            <if test="recptCode != null">recpt_code = #{recptCode},</if>
            <if test="vendorId != null">vendor_id = #{vendorId},</if>
            <if test="vendorCode != null">vendor_code = #{vendorCode},</if>
            <if test="vendorName != null">vendor_name = #{vendorName},</if>
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="warehouseCode != null">warehouse_code = #{warehouseCode},</if>
            <if test="warehouseName != null">warehouse_name = #{warehouseName},</if>
            <if test="rtDate != null">rt_date = #{rtDate},</if>
            <if test="totalQuantity != null">total_quantity = #{totalQuantity},</if>
            <if test="rqcId != null">rqc_id = #{rqcId},</if>
            <if test="rqcCode != null">rqc_code = #{rqcCode},</if>
            <if test="status != null">status = #{status},</if>
            <if test="purOrderId != null">pur_order_id = #{purOrderId},</if>
            <if test="purOrderCode != null">pur_order_code = #{purOrderCode},</if>
            <if test="confirmTime != null">confirm_time = #{confirmTime},</if>
            <if test="confirmBy != null">confirm_by = #{confirmBy},</if>
            <if test="postTime != null">post_time = #{postTime},</if>
            <if test="postBy != null">post_by = #{postBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where rt_id = #{rtId}
    </update>

    <delete id="deleteWmRtVendorByRtId" parameterType="Long">
        delete from qxx_wm_rt_vendor where rt_id = #{rtId}
    </delete>

    <delete id="deleteWmRtVendorByRtIds" parameterType="String">
        delete from qxx_wm_rt_vendor where rt_id in
        <foreach item="rtId" collection="array" open="(" separator="," close=")">
            #{rtId}
        </foreach>
    </delete>

</mapper>