<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.mes.wm.WmStockTakingMapper">

    <resultMap type="WmStockTaking" id="WmStockTakingResult">
        <id property="takingId" column="taking_id" />
        <result property="factoryId" column="factory_id" />
        <result property="takingCode" column="taking_code" />
        <result property="planId" column="plan_id" />
        <result property="planCode" column="plan_code" />
        <result property="itemId" column="item_id" />
        <result property="itemCode" column="item_code" />
        <result property="itemName" column="item_name" />
        <result property="specification" column="specification" />
        <result property="unitOfMeasure" column="unit_of_measure" />
        <result property="unitName" column="unit_name" />
        <result property="batchId" column="batch_id" />
        <result property="batchCode" column="batch_code" />
        <result property="warehouseId" column="warehouse_id" />
        <result property="locationId" column="location_id" />
        <result property="areaId" column="area_id" />
        <result property="bookQuantity" column="book_quantity" />
        <result property="actualQuantity" column="actual_quantity" />
        <result property="difference" column="difference" />
        <result property="diffReason" column="diff_reason" />
        <result property="takingUser" column="taking_user" />
        <result property="takingDate" column="taking_date" />
        <result property="status" column="status" />
        <result property="remark" column="remark" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectWmStockTakingVo">
        select taking_id, factory_id, taking_code, plan_id, plan_code, item_id, item_code, item_name, specification, unit_of_measure, unit_name, batch_id, batch_code, warehouse_id, location_id, area_id, book_quantity, actual_quantity, difference, diff_reason, taking_user, taking_date, status, remark, create_by, create_time, update_by, update_time from qxx_wm_stock_taking
    </sql>

    <select id="selectWmStockTakingList" parameterType="WmStockTaking" resultMap="WmStockTakingResult">
        <include refid="selectWmStockTakingVo"/>
        <where>
            <if test="factoryId != null"> and factory_id = #{factoryId}</if>
            <if test="takingCode != null and takingCode != ''"> and taking_code like concat('%', #{takingCode}, '%')</if>
            <if test="planId != null"> and plan_id = #{planId}</if>
            <if test="planCode != null and planCode != ''"> and plan_code like concat('%', #{planCode}, '%')</if>
            <if test="itemId != null"> and item_id = #{itemId}</if>
            <if test="itemCode != null and itemCode != ''"> and item_code like concat('%', #{itemCode}, '%')</if>
            <if test="itemName != null and itemName != ''"> and item_name like concat('%', #{itemName}, '%')</if>
            <if test="specification != null and specification != ''"> and specification like concat('%', #{specification}, '%')</if>
            <if test="unitOfMeasure != null and unitOfMeasure != ''"> and unit_of_measure like concat('%', #{unitOfMeasure}, '%')</if>
            <if test="unitName != null and unitName != ''"> and unit_name like concat('%', #{unitName}, '%')</if>
            <if test="batchId != null"> and batch_id = #{batchId}</if>
            <if test="batchCode != null and batchCode != ''"> and batch_code like concat('%', #{batchCode}, '%')</if>
            <if test="warehouseId != null"> and warehouse_id = #{warehouseId}</if>
            <if test="locationId != null"> and location_id = #{locationId}</if>
            <if test="areaId != null"> and area_id = #{areaId}</if>
            <if test="diffReason != null and diffReason != ''"> and diff_reason like concat('%', #{diffReason}, '%')</if>
            <if test="takingUser != null and takingUser != ''"> and taking_user like concat('%', #{takingUser}, '%')</if>
            <if test="status != null and status != ''"> and status like concat('%', #{status}, '%')</if>
            <if test="createBy != null and createBy != ''"> and create_by like concat('%', #{createBy}, '%')</if>
            <if test="updateBy != null and updateBy != ''"> and update_by like concat('%', #{updateBy}, '%')</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectWmStockTakingAll" resultMap="WmStockTakingResult">
        <include refid="selectWmStockTakingVo"/>
    </select>

    <select id="selectWmStockTakingByTakingId" parameterType="Long" resultMap="WmStockTakingResult">
        <include refid="selectWmStockTakingVo"/>
        where taking_id = #{takingId}
    </select>

    <insert id="insertWmStockTaking" parameterType="WmStockTaking" useGeneratedKeys="true" keyProperty="takingId">
        insert into qxx_wm_stock_taking
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="factoryId != null">factory_id,</if>
            <if test="takingCode != null">taking_code,</if>
            <if test="planId != null">plan_id,</if>
            <if test="planCode != null">plan_code,</if>
            <if test="itemId != null">item_id,</if>
            <if test="itemCode != null">item_code,</if>
            <if test="itemName != null">item_name,</if>
            <if test="specification != null">specification,</if>
            <if test="unitOfMeasure != null">unit_of_measure,</if>
            <if test="unitName != null">unit_name,</if>
            <if test="batchId != null">batch_id,</if>
            <if test="batchCode != null">batch_code,</if>
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="locationId != null">location_id,</if>
            <if test="areaId != null">area_id,</if>
            <if test="bookQuantity != null">book_quantity,</if>
            <if test="actualQuantity != null">actual_quantity,</if>
            <if test="difference != null">difference,</if>
            <if test="diffReason != null">diff_reason,</if>
            <if test="takingUser != null">taking_user,</if>
            <if test="takingDate != null">taking_date,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="factoryId != null">#{factoryId},</if>
            <if test="takingCode != null">#{takingCode},</if>
            <if test="planId != null">#{planId},</if>
            <if test="planCode != null">#{planCode},</if>
            <if test="itemId != null">#{itemId},</if>
            <if test="itemCode != null">#{itemCode},</if>
            <if test="itemName != null">#{itemName},</if>
            <if test="specification != null">#{specification},</if>
            <if test="unitOfMeasure != null">#{unitOfMeasure},</if>
            <if test="unitName != null">#{unitName},</if>
            <if test="batchId != null">#{batchId},</if>
            <if test="batchCode != null">#{batchCode},</if>
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="locationId != null">#{locationId},</if>
            <if test="areaId != null">#{areaId},</if>
            <if test="bookQuantity != null">#{bookQuantity},</if>
            <if test="actualQuantity != null">#{actualQuantity},</if>
            <if test="difference != null">#{difference},</if>
            <if test="diffReason != null">#{diffReason},</if>
            <if test="takingUser != null">#{takingUser},</if>
            <if test="takingDate != null">#{takingDate},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateWmStockTaking" parameterType="WmStockTaking">
        update qxx_wm_stock_taking
        <trim prefix="SET" suffixOverrides=",">
            <if test="factoryId != null">factory_id = #{factoryId},</if>
            <if test="takingCode != null">taking_code = #{takingCode},</if>
            <if test="planId != null">plan_id = #{planId},</if>
            <if test="planCode != null">plan_code = #{planCode},</if>
            <if test="itemId != null">item_id = #{itemId},</if>
            <if test="itemCode != null">item_code = #{itemCode},</if>
            <if test="itemName != null">item_name = #{itemName},</if>
            <if test="specification != null">specification = #{specification},</if>
            <if test="unitOfMeasure != null">unit_of_measure = #{unitOfMeasure},</if>
            <if test="unitName != null">unit_name = #{unitName},</if>
            <if test="batchId != null">batch_id = #{batchId},</if>
            <if test="batchCode != null">batch_code = #{batchCode},</if>
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="locationId != null">location_id = #{locationId},</if>
            <if test="areaId != null">area_id = #{areaId},</if>
            <if test="bookQuantity != null">book_quantity = #{bookQuantity},</if>
            <if test="actualQuantity != null">actual_quantity = #{actualQuantity},</if>
            <if test="difference != null">difference = #{difference},</if>
            <if test="diffReason != null">diff_reason = #{diffReason},</if>
            <if test="takingUser != null">taking_user = #{takingUser},</if>
            <if test="takingDate != null">taking_date = #{takingDate},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where taking_id = #{takingId}
    </update>

    <delete id="deleteWmStockTakingByTakingId" parameterType="Long">
        delete from qxx_wm_stock_taking where taking_id = #{takingId}
    </delete>

    <delete id="deleteWmStockTakingByTakingIds" parameterType="String">
        delete from qxx_wm_stock_taking where taking_id in
        <foreach item="takingId" collection="array" open="(" separator="," close=")">
            #{takingId}
        </foreach>
    </delete>

</mapper>