<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.mes.wm.WmStorageAreaMapper">

    <resultMap type="WmStorageArea" id="WmStorageAreaResult">
        <id property="areaId" column="area_id" />
        <result property="factoryId" column="factory_id" />
        <result property="areaCode" column="area_code" />
        <result property="areaName" column="area_name" />
        <result property="locationId" column="location_id" />
        <result property="locationCode" column="location_code" />
        <result property="locationName" column="location_name" />
        <result property="warehouseId" column="warehouse_id" />
        <result property="warehouseCode" column="warehouse_code" />
        <result property="warehouseName" column="warehouse_name" />
        <result property="maxVolume" column="max_volume" />
        <result property="maxWeight" column="max_weight" />
        <result property="enableFlag" column="enable_flag" />
        <result property="remark" column="remark" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectWmStorageAreaVo">
        select area_id, factory_id, area_code, area_name, location_id, location_code, location_name, warehouse_id, warehouse_code, warehouse_name, max_volume, max_weight, enable_flag, remark, create_by, create_time, update_by, update_time from qxx_wm_storage_area
    </sql>

    <select id="selectWmStorageAreaList" parameterType="WmStorageArea" resultMap="WmStorageAreaResult">
        <include refid="selectWmStorageAreaVo"/>
        <where>            <if test="areaCode != null and areaCode != ''"> and area_code like concat('%', #{areaCode}, '%')</if>
            <if test="areaName != null and areaName != ''"> and area_name like concat('%', #{areaName}, '%')</if>
            <if test="locationId != null"> and location_id = #{locationId}</if>
            <if test="locationCode != null and locationCode != ''"> and location_code like concat('%', #{locationCode}, '%')</if>
            <if test="locationName != null and locationName != ''"> and location_name like concat('%', #{locationName}, '%')</if>
            <if test="warehouseId != null"> and warehouse_id = #{warehouseId}</if>
            <if test="warehouseCode != null and warehouseCode != ''"> and warehouse_code like concat('%', #{warehouseCode}, '%')</if>
            <if test="warehouseName != null and warehouseName != ''"> and warehouse_name like concat('%', #{warehouseName}, '%')</if>
            <if test="enableFlag != null and enableFlag != ''"> and enable_flag like concat('%', #{enableFlag}, '%')</if>
            <if test="createBy != null and createBy != ''"> and create_by like concat('%', #{createBy}, '%')</if>
            <if test="updateBy != null and updateBy != ''"> and update_by like concat('%', #{updateBy}, '%')</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectWmStorageAreaAll" resultMap="WmStorageAreaResult">
        <include refid="selectWmStorageAreaVo"/>
    </select>

    <select id="selectWmStorageAreaByAreaId" parameterType="Long" resultMap="WmStorageAreaResult">
        <include refid="selectWmStorageAreaVo"/>
        where area_id = #{areaId}
    </select>

    <insert id="insertWmStorageArea" parameterType="WmStorageArea" useGeneratedKeys="true" keyProperty="areaId">
        insert into qxx_wm_storage_area
        <trim prefix="(" suffix=")" suffixOverrides=",">            <if test="areaCode != null">area_code,</if>
            <if test="areaName != null">area_name,</if>
            <if test="locationId != null">location_id,</if>
            <if test="locationCode != null">location_code,</if>
            <if test="locationName != null">location_name,</if>
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="warehouseCode != null">warehouse_code,</if>
            <if test="warehouseName != null">warehouse_name,</if>
            <if test="maxVolume != null">max_volume,</if>
            <if test="maxWeight != null">max_weight,</if>
            <if test="enableFlag != null">enable_flag,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">            <if test="areaCode != null">#{areaCode},</if>
            <if test="areaName != null">#{areaName},</if>
            <if test="locationId != null">#{locationId},</if>
            <if test="locationCode != null">#{locationCode},</if>
            <if test="locationName != null">#{locationName},</if>
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="warehouseCode != null">#{warehouseCode},</if>
            <if test="warehouseName != null">#{warehouseName},</if>
            <if test="maxVolume != null">#{maxVolume},</if>
            <if test="maxWeight != null">#{maxWeight},</if>
            <if test="enableFlag != null">#{enableFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateWmStorageArea" parameterType="WmStorageArea">
        update qxx_wm_storage_area
        <trim prefix="SET" suffixOverrides=",">            <if test="areaCode != null">area_code = #{areaCode},</if>
            <if test="areaName != null">area_name = #{areaName},</if>
            <if test="locationId != null">location_id = #{locationId},</if>
            <if test="locationCode != null">location_code = #{locationCode},</if>
            <if test="locationName != null">location_name = #{locationName},</if>
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="warehouseCode != null">warehouse_code = #{warehouseCode},</if>
            <if test="warehouseName != null">warehouse_name = #{warehouseName},</if>
            <if test="maxVolume != null">max_volume = #{maxVolume},</if>
            <if test="maxWeight != null">max_weight = #{maxWeight},</if>
            <if test="enableFlag != null">enable_flag = #{enableFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where area_id = #{areaId}
    </update>

    <delete id="deleteWmStorageAreaByAreaId" parameterType="Long">
        delete from qxx_wm_storage_area where area_id = #{areaId}
    </delete>

    <delete id="deleteWmStorageAreaByAreaIds" parameterType="String">
        delete from qxx_wm_storage_area where area_id in
        <foreach item="areaId" collection="array" open="(" separator="," close=")">
            #{areaId}
        </foreach>
    </delete>

</mapper>