<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.mes.wm.WmWarehouseMapper">

    <resultMap type="WmWarehouse" id="WmWarehouseResult">
        <id property="warehouseId" column="warehouse_id" />
        <result property="factoryId" column="factory_id" />
        <result property="warehouseCode" column="warehouse_code" />
        <result property="warehouseName" column="warehouse_name" />
        <result property="warehouseType" column="warehouse_type" />
        <result property="address" column="address" />
        <result property="area" column="area" />
        <result property="charge" column="charge" />
        <result property="enableFlag" column="enable_flag" />
        <result property="remark" column="remark" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectWmWarehouseVo">
        select warehouse_id, factory_id, warehouse_code, warehouse_name, warehouse_type, address, area, charge, enable_flag, remark, create_by, create_time, update_by, update_time from qxx_wm_warehouse
    </sql>

    <select id="selectWmWarehouseList" parameterType="WmWarehouse" resultMap="WmWarehouseResult">
        <include refid="selectWmWarehouseVo"/>
        <where>            <if test="warehouseCode != null and warehouseCode != ''"> and warehouse_code like concat('%', #{warehouseCode}, '%')</if>
            <if test="warehouseName != null and warehouseName != ''"> and warehouse_name like concat('%', #{warehouseName}, '%')</if>
            <if test="warehouseType != null and warehouseType != ''"> and warehouse_type like concat('%', #{warehouseType}, '%')</if>
            <if test="address != null and address != ''"> and address like concat('%', #{address}, '%')</if>
            <if test="charge != null and charge != ''"> and charge like concat('%', #{charge}, '%')</if>
            <if test="enableFlag != null and enableFlag != ''"> and enable_flag like concat('%', #{enableFlag}, '%')</if>
            <if test="createBy != null and createBy != ''"> and create_by like concat('%', #{createBy}, '%')</if>
            <if test="updateBy != null and updateBy != ''"> and update_by like concat('%', #{updateBy}, '%')</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectWmWarehouseAll" resultMap="WmWarehouseResult">
        <include refid="selectWmWarehouseVo"/>
    </select>

    <select id="selectWmWarehouseByWarehouseId" parameterType="Long" resultMap="WmWarehouseResult">
        <include refid="selectWmWarehouseVo"/>
        where warehouse_id = #{warehouseId}
    </select>

    <insert id="insertWmWarehouse" parameterType="WmWarehouse" useGeneratedKeys="true" keyProperty="warehouseId">
        insert into qxx_wm_warehouse
        <trim prefix="(" suffix=")" suffixOverrides=",">            <if test="warehouseCode != null">warehouse_code,</if>
            <if test="warehouseName != null">warehouse_name,</if>
            <if test="warehouseType != null">warehouse_type,</if>
            <if test="address != null">address,</if>
            <if test="area != null">area,</if>
            <if test="charge != null">charge,</if>
            <if test="enableFlag != null">enable_flag,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">            <if test="warehouseCode != null">#{warehouseCode},</if>
            <if test="warehouseName != null">#{warehouseName},</if>
            <if test="warehouseType != null">#{warehouseType},</if>
            <if test="address != null">#{address},</if>
            <if test="area != null">#{area},</if>
            <if test="charge != null">#{charge},</if>
            <if test="enableFlag != null">#{enableFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateWmWarehouse" parameterType="WmWarehouse">
        update qxx_wm_warehouse
        <trim prefix="SET" suffixOverrides=",">            <if test="warehouseCode != null">warehouse_code = #{warehouseCode},</if>
            <if test="warehouseName != null">warehouse_name = #{warehouseName},</if>
            <if test="warehouseType != null">warehouse_type = #{warehouseType},</if>
            <if test="address != null">address = #{address},</if>
            <if test="area != null">area = #{area},</if>
            <if test="charge != null">charge = #{charge},</if>
            <if test="enableFlag != null">enable_flag = #{enableFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where warehouse_id = #{warehouseId}
    </update>

    <delete id="deleteWmWarehouseByWarehouseId" parameterType="Long">
        delete from qxx_wm_warehouse where warehouse_id = #{warehouseId}
    </delete>

    <delete id="deleteWmWarehouseByWarehouseIds" parameterType="String">
        delete from qxx_wm_warehouse where warehouse_id in
        <foreach item="warehouseId" collection="array" open="(" separator="," close=")">
            #{warehouseId}
        </foreach>
    </delete>

</mapper>