<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.mes.sys.SysMessageMapper">

    <resultMap type="com.ruoyi.system.domain.mes.sys.SysMessage" id="SysMessageResult">
        <result property="messageId"     column="message_id"      />
        <result property="factoryId"     column="factory_id"      />
        <result property="userId"        column="user_id"         />
        <result property="title"         column="title"           />
        <result property="content"       column="content"         />
        <result property="messageType"   column="message_type"    />
        <result property="sourceDocId"   column="source_doc_id"   />
        <result property="sourceDocType" column="source_doc_type" />
        <result property="readFlag"      column="read_flag"       />
        <result property="readTime"      column="read_time"       />
        <result property="remark"        column="remark"          />
        <result property="createBy"      column="create_by"       />
        <result property="createTime"    column="create_time"     />
        <result property="updateBy"      column="update_by"       />
        <result property="updateTime"    column="update_time"     />
    </resultMap>

    <sql id="selectSysMessageVo">
        select message_id, factory_id, user_id, title, content, message_type,
               source_doc_id, source_doc_type, read_flag, read_time,
               remark, create_by, create_time, update_by, update_time
        from sys_message
    </sql>

    <select id="selectSysMessageList" parameterType="com.ruoyi.system.domain.mes.sys.SysMessage" resultMap="SysMessageResult">
        <include refid="selectSysMessageVo"/>
        <where>
            <if test="userId != null"> and user_id = #{userId}</if>
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="messageType != null  and messageType != ''"> and message_type = #{messageType}</if>
            <if test="readFlag != null  and readFlag != ''"> and read_flag = #{readFlag}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectSysMessageByMessageId" parameterType="Long" resultMap="SysMessageResult">
        <include refid="selectSysMessageVo"/>
        where message_id = #{messageId}
    </select>

    <insert id="insertSysMessage" parameterType="com.ruoyi.system.domain.mes.sys.SysMessage" useGeneratedKeys="true" keyProperty="messageId">
        insert into sys_message
        <trim prefix="(" suffix=")" suffixOverrides=",">            <if test="userId != null">user_id,</if>
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="messageType != null">message_type,</if>
            <if test="sourceDocId != null">source_doc_id,</if>
            <if test="sourceDocType != null">source_doc_type,</if>
            <if test="readFlag != null">read_flag,</if>
            <if test="readTime != null">read_time,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">            <if test="userId != null">#{userId},</if>
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="messageType != null">#{messageType},</if>
            <if test="sourceDocId != null">#{sourceDocId},</if>
            <if test="sourceDocType != null">#{sourceDocType},</if>
            <if test="readFlag != null">#{readFlag},</if>
            <if test="readTime != null">#{readTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateSysMessage" parameterType="com.ruoyi.system.domain.mes.sys.SysMessage">
        update sys_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="messageType != null">message_type = #{messageType},</if>
            <if test="readFlag != null">read_flag = #{readFlag},</if>
            <if test="readTime != null">read_time = #{readTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where message_id = #{messageId}
    </update>

    <update id="updateSysMessageReadStatus">
        update sys_message set read_flag = #{readFlag}, read_time = now()
        where message_id in
        <foreach item="messageId" collection="messageIds" open="(" separator="," close=")">
            #{messageId}
        </foreach>
    </update>

    <select id="selectUnreadCount" resultType="int">
        select count(1) from sys_message where user_id = #{userId} and read_flag = '0'
    </select>

    <delete id="deleteSysMessageByMessageId" parameterType="Long">
        delete from sys_message where message_id = #{messageId}
    </delete>

    <delete id="deleteSysMessageByMessageIds" parameterType="String">
        delete from sys_message where message_id in
        <foreach item="messageId" collection="array" open="(" separator="," close=")">
            #{messageId}
        </foreach>
    </delete>
</mapper>
